/user_data/accounts/
/user_data/config/config.ini
/user_data/log/
/user_data/software_database.db
/user_data/message/
/user_data/accounts/banned/
/user_data/accounts/invalid_account/
/user_data/accounts/sending_messages_chats/
!/.idea/
!/docs/.obsidian/!/.idea/!/docs/.obsidian/
!/docs/.obsidian/
!/TODO.md
/.mypy_cache/
!/.gigaide/
