flet~=0.24.1
hypercorn~=0.17.3
loguru~=0.6.0
openpyxl~=3.1.5
quart~=0.19.8
Requests~=2.32.3
schedule~=1.2.2
Telethon~=1.37.0
thefuzz~=0.22.1
watchfiles~=0.24.0
PySocks
configparser~=7.0.1
notifiers
peewee~=3.17.8
emoji-country-flag
phonenumbers~=8.13.50
fastapi~=0.115.5
uvicorn~=0.32.0
aioschedule