flet~=0.24.1
hypercorn
loguru~=0.6.0
openpyxl~=3.1.5
Requests~=2.32.3
schedule
Telethon~=1.37.0
thefuzz~=0.22.1
watchfiles
PySocks
configparser~=7.0.1
notifiers
peewee~=3.17.8
emoji-country-flag
phonenumbers~=8.13.51
fastapi~=0.115.6
uvicorn~=0.32.1
aioschedule
scheduler~=0.8.7