flet~=0.28.0.dev4746
loguru~=0.6.0
configparser~=7.0.1
peewee~=3.17.8
phonenumbers~=8.13.51
requests~=2.32.3
Telethon~=1.40.0
thefuzz~=0.22.1
scheduler~=0.8.7
openpyxl~=3.1.5
uvicorn~=0.32.1
fastapi~=0.115.6
PyYAML~=6.0.2