body {
    font-family: 'Source Code Pro', sans-serif;
    margin: 0;
    background-color: #023047; /* Подходящий фон под баннер */
    color: #8ecae6; /* Цвет текста по всем страницам */
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 13px;
    background-color: #f4f5f8; /* Цвет фона */
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #777A7A;
    border-bottom: 1px solid #9ea1a1;
}

.sidebar a:hover {
    background-color: #b0b0b0;
}

.content {
    margin-left: 270px;
    padding: 20px;
    position: relative;
    z-index: 30;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
    position: fixed; /* Предполагаю, что баннер должен быть фиксирован */
}


h1 {
    text-align: center;
    color: #00A6ED; /* Измените на желаемый цвет */
}

h2 {
    text-align: center;
    color: #00A6ED; /* Измените на желаемый цвет */
}