rich
certifi
charset-normalizer
colorama
emoji
idna==3.7
loguru
markdown-it-py
mdurl
notify-py
pyaes
pyasn1==0.6.0
Pygments==2.18.0
PySocks
requests==2.32.2
rsa
schedule
Telethon==1.35.0
urllib3
win32-setctime
PySimpleGUI==4.60.5
thefuzz
flet==0.22.1
getmac
notifiers