certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.6
emoji==2.8.0
idna==3.4
loguru==0.7.2
markdown-it-py==3.0.0
mdurl==0.1.2
notify-py==0.3.42
pyaes==1.6.1
pyasn1==0.5.0
Pygments==2.16.1
PySocks==1.7.1
requests==2.31.0
rich==13.6.0
rsa==4.9
schedule==1.2.1
Telethon==1.30.3
urllib3==2.0.6
win32-setctime==1.1.0
