rich==13.7.0
certifi==2023.11.17
charset-normalizer
colorama
emoji==2.10.0
idna==3.6
loguru==0.7.2
markdown-it-py
mdurl
notify-py
pyaes
pyasn1==0.5.1
Pygments==2.17.2
PySocks
requests
rsa
schedule
Telethon==1.33.1
urllib3==2.1.0
win32-setctime
PySimpleGUI
thefuzz
